::selection {
  background: rgb(199, 26, 199);
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: iransans;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb.woff") format('woff');
}

body {
  direction: rtl;
  box-sizing: border-box;
}

input {
  @apply p-3 rounded-md w-full mb-3;
}




