::selection {
  background: rgb(116, 4, 116);
  color: white;
  text-shadow: none;
}

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: iransans;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb.woff") format('woff');
}

@font-face {
  font-family: iransansen;
  font-weight: normal;
  src: url("../fonts/IRANSansWebEn.woff") format('woff');
}

body {
  direction: rtl;
  box-sizing: border-box;
  -webkit-user-select: none;
}

.user-selectable {
  -webkit-user-select: text;
}

*[lang="en"] {
  font-family: 'iransansen', sans-serif;
}




