@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: iransans;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb.woff") format('woff');
}
body{
  font-family:  sans;
}

h1 {
 font-size: 2.5rem;
 margin-bottom: 1rem;
}

h2 {
 font-size: 1.8rem;
}

h3 {
 font-size: 1.6rem;
}