.u-center-v {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.u-center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.u-center-both {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.rounded-25 {
  border-radius: 25px;
}

.padding-3 {
  padding: 3rem;
}

.padding-2 {
  padding: 2rem;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-50 {
  flex: 0 1 50%;
}

.top-95  {
  top: 95%;
}


.h-inherit {
  height: inherit;
}

.h-initial {
  height: initial;
}

.h-8v {
  height: 8vh;
}

.h-10v {
  height: 10vh;
}
.h-10v {
  height: 10vh;
}
.h-15v {
  height: 15vh;
}
.h-20v {
  height: 20vh;
}
.h-30v {
  height: 30vh;
}
.h-40v {
  height: 40vh;
}
.h-50v {
  height: 50vh;
}
.h-60v {
  height: 60vh;
}
.h-70v {
  height:70vh;
}
.h-80v {
  height:80vh;
}
.h-90v {
  height:90vh;
}
.h-92v {
  height:92vh;
}
.h-95v {
  height:95vh;
}

.w-15v {
  width: 15vw;
}