@mixin clearFix {
  &::after {
	content: '';
	clear: both;
	display: table;
  }
}

%transform-center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%transform-center-v {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

%transform-center-both {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-600px : phone;
600-900px: tablet Portrait
900-1200: tablet landscape
1200-1800: our normal styles
1800px : Big Desktops

  === $breakpoint argument choices
-phone
-tab-port
-tap-land
-big-desk

1em = 16px
 */
@mixin respond($breakpoint) {
  @if($breakpoint == phone) {
    @media only screen and (max-width: 37.5em) { //600px
      @content
    }
  }

  @if($breakpoint == tab-port) {
    @media only screen and (max-width: 56.25em) { //900px
      @content
    }
  }

  @if($breakpoint == tab-land) { //1200px
    @media only screen and (max-width: 75em) {
      @content
    }
  }

  @if($breakpoint == big-desk) { //1800px
    @media only screen and (min-width: 112.5em) {
      @content
    }
  }
}