// COLORS ======================================
$color-white: white;
$color-black: black;


//$color-grey-lighter: #;
$color-grey-light: #f7f7f7;
$color-grey-medium: #eeeeee;
$color-grey: #777777;
$color-grey-dark: #999;
$color-grey-darker: #333;


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

//$color-secondary-light: #ffb900;
//$color-secondary-dark: #ff7730;

//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;

// Font =======================================
$default-font-size: 1.6rem;



// GRID =======================================
$grid-width: 114rem;
$grid-width-mobile: 80%;
$grid-width-tablet-p: 70%;
$grid-width-tablet-l: 80%;
$grid-width-big: 120rem;


$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 8em;
$gutter-horizontal-small: 3rem;

