// ======================================================================================================
// NAVIGATION AND DROPDOWN
// ======================================================================================================
.main-nav {
    @apply w-screen text-white flex flex-row flex-nowrap items-center justify-between;
    z-index: 2001;
}

nav {
    z-index: 2001;
}

.main-dropdown {
    @apply shadow-lg absolute w-60 top-full left-0 text-sm bg-gradient-to-br from-purple-700 to-purple-900;
}

.main-dropdown-li {
    @apply flex flex-nowrap justify-between px-3 py-1 hover:bg-pink-900 w-full items-center;
}

.dropdown-holder {
    @apply relative;
}

#secondary-menu {
    @apply border-l-2;
    z-index: 2001;
}

.side-nav-li {
    @apply flex h-14 px-4 justify-between w-full border-b-2 border-white items-center hover:bg-pink-900 bg-opacity-70;
    &.closed {
        @apply justify-center;
        .second-nav-text {
            display: none;
            opacity: 0;
        }
    }
    &.closed:hover {
        .second-nav-text {
            display: inline-block;
            opacity: 1;
        }
        @apply w-56;
        margin-right: 10rem;
        justify-content: space-between;
        right: 0;

    }
}



// ======================================================================================================
// RECURRENT ELEMENTS
// ======================================================================================================
main {
    @apply w-full pb-16 relative text-right flex flex-wrap flex-row justify-evenly items-start pt-10v md:pr-56 pt-4 min-h-screen bg-white bg-cover;
    background: url('../media/main-bg.jpg') fixed top left;
    transition: all ease .2s;
    justify-content: space-evenly;
    align-content: flex-start;
}

footer {
    @apply flex-fullrow justify-between items-center bg-gray-300 flex flex-row flex-nowrap p-3 w-full h-16 absolute bottom-0 left-0 md:pr-64 mt-10;
}

// ============ SAVE OR CANCEL BUTTONS
.save-cancel {
    @apply flex flex-row flex-nowrap p-2 justify-between;
    button:first-child {
        @apply py-2 px-4 bg-green-600 text-white rounded-sm;
    }

    button:last-child {
        @apply border-2 border-red-300 bg-gray-300 rounded-sm py-2 px-4;
    }
}

.save {
    @apply mt-4;
    button {
        @apply py-2 px-4 bg-green-600 text-white rounded-sm;
    }
}


.class-setting-item.open {
    @apply border-b-0 rounded-b-none bg-white;
    .connector {
        @apply h-18 w-full bg-white block;
    }
}

// ======================================================================================================
// DASHBOARD
// ======================================================================================================
.single-class-container {
    @apply mb-4 text-center rounded-lg bg-pink-500 text-white p-3;
}


.word-of-day {
    background-color: purple;
    background: url("../media/wordofday.jpg") no-repeat center center;
    background-size: cover;
}


// ======================================================================================================
// SECTIONS
// ======================================================================================================

.main-section {
    @apply w-full bg-gray-100 rounded-lg p-5 mb-5;

    .section-title {
        @apply flex flex-nowrap mb-6 items-center justify-center;
    
        hr {
            @apply h-1 flex-1 bg-gray-400 border-gray-400 rounded-25;
        }
    
        h3 {
            @apply px-2;
        }
    }

    .section-title-2 {
        h2 {
            @apply font-bold;
        }
        hr {
            @apply mb-4;
        }
    }
}

// ================== BIG SECTION
.big-section {
    @apply w-full bg-gray-100 text-right px-10 py-10 rounded-lg mb-16 mr-10 ml-10;
    .section-title {
        @apply mb-8;
        h2 {
            @apply text-xl;
        }
    }
}


// ======================================================================================================
// SETTINGS SECTION 
// ======================================================================================================

.settings-bar ul li {
    @apply px-6 w-full h-full px-10 flex flex-row justify-center items-center;
    &:hover {
        cursor: pointer;
        @apply bg-gray-300;
    }
}

.settings-bar ul li.setting-active {
    @apply bg-purple-700 text-white;
    &:hover {
        cursor: initial;
        @apply bg-purple-700;
    }
}

.setting-item  {
    @apply flex justify-between items-center bg-gray-300 rounded-lg mb-3;
    span, i {
     @apply py-4;
    }
    span:first-child {
        @apply pr-4;
    }
    i:last-child {
        @apply pl-4;
    }
}


.setting-item-active {
    @apply  bg-pink-300;
}

// ======================================================================================================
// TIME TABLE
// ======================================================================================================
.timetable {
    @apply w-full text-center;
    tr {
        @apply border-b-2 border-blue-200 max-h-24;

        td:first-child {
            @apply  bg-gray-800 text-white;
        }

        &:nth-child(odd) {
            @apply bg-green-100;
        }
    
        &:nth-child(even) {
            @apply bg-purple-200;
        }
        &:first-child {
            @apply bg-pink-700 text-white;
        }
    }

    
    th {
        @apply p-4 ltr;
    }
    td {
        @apply align-middle border-l-2 border-blue-200;
        > div {
            @apply max-h-44 p-4 overflow-auto;
        }
    }

    .timetable-item {
        @apply  rounded-lg p-3 mb-2 bg-gray-500 text-white text-xs;
        p:first-child {
            @apply text-sm font-bold flex-fullrow;
        }

        div:first-child {
            @apply flex flex-row flex-nowrap items-center justify-between mt-2;
        }
    }


    // time table for selection
    &-select {
         tr {
             &:nth-child(even) {
                 @apply bg-green-500;
             }
             &:nth-child(odd) {
                 @apply bg-green-500;
             }

             &:first-child {
                @apply bg-pink-700 text-white;
            }
         }

         td.error {
             @apply bg-red-400;
         }
    }
}