.main-nav {
    @apply w-screen bg-purple-900 text-white flex flex-row flex-nowrap items-center justify-between;
}

.main-dropdown {
    @apply hidden shadow-lg absolute w-60 top-full left-0 text-sm bg-gradient-to-br from-purple-700 to-purple-900;
}

.main-dropdown-li {
    @apply flex flex-nowrap justify-between px-3 py-1 hover:bg-pink-900 w-full items-center;
}

.dropdown-holder {
    @apply relative;
}

.side-nav-li {
    @apply flex h-14 px-4 justify-between w-full border-b-2 border-white items-center hover:bg-pink-900 bg-opacity-70;
}

.single-class-container {
    @apply mb-4 text-center rounded-lg bg-pink-500 text-white p-3;
}

.main-section {
    @apply w-full bg-gray-100 rounded-lg p-5 mb-5;
}

.section-title {
    @apply flex flex-nowrap mb-6 items-center justify-center;

    hr {
        @apply h-1 flex-1 bg-gray-400 border-gray-400 rounded-25;
    }

    h3 {
        @apply px-2
    }
}


.word-of-day {
    background-color: purple;
    background: url("../media/wordofday.jpg") no-repeat center center;
    background-size: cover;
}

main {
    background: white;
    background: url('../media/main-bg.jpg') fixed top left;
    background-size: cover;
}

// ======================================================================================================
// SETTINGS SECTION 
// ======================================================================================================
.setting-active {
    @apply bg-purple-700 text-white h-full flex flex-row items-center px-10;
}

.settings-bar ul li {
    @apply px-10;
}

.setting-item  {
    @apply flex justify-between items-center p-4 bg-gray-300 rounded-lg mb-3;
}

.setting-item-active {
    @apply  bg-pink-300;
}

.save-cancel {
    @apply flex flex-row flex-nowrap p-2 justify-between;
    button:first-child {
        @apply py-2 px-4 bg-green-600 text-white rounded-sm;
    }

    button:last-child {
        @apply border-2 border-red-300 bg-gray-300 rounded-sm py-2 px-4;
    }
}

// normal input
.input-norm {
    @apply p-4 my-2 shadow rounded-md;
}

.section-title-2 {
    h2 {
        @apply font-bold;
    }
    hr {
        @apply mb-4;
    }
}