input {
  @apply p-3 rounded-md w-full mb-3;
}

// normal input
.input-norm {
  @apply p-4 my-2 shadow rounded-md;
}

input.common, select.common, textarea.common {
  @apply h-full w-full p-2 rounded-md;
  height: 3.7rem;
  border-bottom: 4px solid #8a8a8a;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
}

textarea.common {
  height: 6rem;
}


.input-group {
  @apply h-full w-full flex flex-row flex-nowrap justify-between items-start;

  div {
    @apply h-full;
    margin-left: 0.5rem;
    flex: 1;
    min-width: 3rem;
    &:last-child {
      margin-left: 0;
    }
  }
}

input, select {
  &.fail {
    @apply  border-b-4 border-rose-500;
  }
  &.success {
    @apply  border-b-4 border-green-500;
  }
}


.input-guide {
  @apply text-sm text-right text-gray-500 p-2;
}

.input-error {
  @apply bg-rose-200 text-right text-rose-900 text-sm p-2 rounded-md mt-1;
}

.progress {
  transition: width ease 0.5s;
  transform: translateZ(0);

  &.w-1\/4 {
    @apply bg-red-500
  }

  &.w-1\/2 {
    @apply bg-orange-500
  }

  &.w-3\/4 {
    @apply bg-yellow-500;
  }

  &.w-full {
    @apply bg-green-500;
  }
}


// ==========================================================================================
// for adding pages in students, classes, teachers and so on
// ==========================================================================================


// ===================== FULL EDIT BOX
.full-edit-box {
  @apply p-4 flex flex-row flex-wrap justify-start items-start;

  > div {
    @apply flex flex-row flex-wrap h-full mb-10 ml-4;
    @media (min-width: 640px) {
      flex: 0 1 calc((100% - (5rem)) / 3);
    }
    @media (min-width: 1024px) {
      flex: 0 1 calc((100% - (5rem)) / 6);
    }

    &:last-child {
      margin-left: 0;
    }
    span {
      @apply flex-fullrow text-gray-700 text-sm mb-2 pr-2;
    }

    input, select {
      @apply h-full w-full p-2 rounded-md;
      height: 4rem;
      border-bottom: 4px solid #8a8a8a;
      box-shadow: 0 0 2px rgba(0,0,0,.5);
    }

    input, select {
      &.fail {
        @apply  border-b-4 border-rose-500;
      }

      &.success {
        @apply  border-b-4 border-green-500;
      }
    }

    .input-group {
      @apply h-full w-full flex flex-row flex-nowrap justify-between items-start;

      div {
        @apply h-full;
        margin-left: 1rem;
        min-width: 3rem;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  > div.flex-1\/3 {
    @media (min-width: 1024px) {
      flex: 0 1 calc((100% - (5rem)) / 3);
    }
  }

  > div.flex-1\/4 {
    @media (min-width: 1024px) {
      flex: 0 1 calc((100% - (5rem)) / 4);
    }
  }

  > div.flex-1\/5 {
    @media (min-width: 1024px) {
      flex: 0 1 calc((100% - (5rem)) / 5);
    }
  }
}

// ===================== TIME SELECT BOX
.time-select {
  @apply flex flex-row flex-wrap p-5 items-center justify-start;

  > h3 {
    @apply flex-fullrow text-sm font-bold mb-4;
  }

  > div {
    @apply flex flex-col items-start flex-1;
    > div {
      @apply flex items-center mb-2;
      span {
        @apply ml-4 text-lg;
      }

      i {
        @apply text-xl;
      }
    }

  }
}


// ===================== CLASS TIME SLICE SELECTION
.class-time-select {
  @apply flex flex-row flex-wrap justify-between items-start;
  > div {
    @media (min-width: 640px) {
      flex: 0 1 calc((100% - (5rem)) / 3);
    }
    @media (min-width: 1024px) {
      flex: 0 1 calc((100% - (5rem)) / 6);
    }
  }
}