.notification {
  @apply fixed top-2 bg-gray-200 rounded-2xl p-4 pl-10;
  text-align: right;
  z-index: 2002;
  right: 50%;
  transform: translateX(+50%);
  background: white;
  max-width: 80%;
  top: 10%;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);

  &.error {
    border: 1px solid #ff3131;

    .not-header {
      color: #b00000;
    }

    .not-body {
      font-family: monospace;
      padding: 0.5rem;
      background: #333333;
      color: white;
    }
  }


  &.success {
    @apply py-1 bg-green-200 text-black text-center px-10 text-sm;
    border-radius: 500px;
    .not-close {
      display: none;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.normal {

  }


  .not-close {
    @apply absolute left-4 top-4 p-1;
    color: #744e4e;

    &:hover {
      color: #ff3131;
      cursor: pointer;
    }
  }


  .not-header {
    @apply text-lg font-bold;
  }

  .not-body {
    padding: 0.5rem;
    @apply my-2 rounded-sm
  }

  .not-footer {
    color: #333333;
  }
}